/* Font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Font End */

/* Utility Classes */

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}

h2 {
    color: #fffdf0;
    font-size: 40px;
    line-height: 44px;
}

h2 span {
    position: relative;
}

h2 span::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    border-bottom: 5px solid #fffdf0;
    display: inline-block !important;
    width: 100%;
    content: "";
}

/* Utility Classes End */

/* Header */

header li.nav-item a.nav-link {
    padding: 0 !important;
    margin: 0 0 0 35px !important;
    color: #365f3c !important;
    position: relative;
}

header li.nav-item:first-child a.nav-link {
    margin-left: 0 !important;
}

a.navbar-brand {
    margin-right: 35px;
}

header li.nav-item a.nav-link::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 1px solid #000;
    content: "";
    width: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

header li.nav-item a.nav-link:hover::before  {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

header nav.navbar {
    padding: 10px 0;
    background-color: #fffdf0;
    position: fixed;
    width: 100%;
    z-index: 50;
    box-shadow: 0 -45px 50px #000;
}

header .container {
    padding: 0;
}

.cnt-txt img:first-child{
    margin: 0 10px;
}

/* Header End */

/* Banner */

.banner {
    padding: 200px 0 0 0;
    background-color: #fffdf0;
}

.banner a {
    font-size: 14px!important;
    padding: 12px 35px!important;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #365f3c!important;
    color: #365f3c!important;
    font-weight: 500!important;
    border-radius: 0!important;
    background-color: transparent !important;
    border-radius: 5px!important;
    cursor: pointer;
    text-decoration: none;
}

.banner a:hover {
    background-color: #365f3c!important;
    border: 2px solid transparent!important;
    color: #fff!important;
    transition: all 0.3s ease-in-out;
}

.banner h1 {
    font-size: 80px;
    font-weight: 300;
    color: #365f3c;
    line-height: 84px;
    margin-bottom: 25px;
}

.banner p {
    position: relative;
    line-height: 25px;
    padding-left: 15px;
    margin-bottom: 35px;
}

.banner p::before {
    position: absolute;
    top: 0;
    left: 0;
    border-left: 5px solid #365f3c;
    content: "";
    height: 100%;
}

/* Banner End */

/* Icons */

.icons {
    background-color: #fffdf0;
}

.icons .row {
    background-color: #fffdf0;
    padding: 40px;
    box-shadow: 0 0 10px #365f3c36;
    border-radius: 10px;
    position: relative;
    top: 85px;
}

.split-mark {
    border-right: 1px solid #365f3c;
}

figcaption {
    margin-bottom: 10px;
    font-weight: 500;
}

/* Icons End */

/* Projects */

.projects {
    padding: 200px 0 100px 0;
    background-color: #365f3c;
}

.projects h2 {
    margin-bottom: 50px;
}

.projects h3 {
    color: #fffdf0;
}

.projects p {
    color: #fffdf0;
    margin: 25px 0;
}

.projects a {
    display: inline-block;
    font-size: 14px!important;
    padding: 12px 35px!important;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #fffdf0!important;
    color: #fffdf0!important;
    font-weight: 500!important;
    border-radius: 0!important;
    background-color: transparent !important;
    border-radius: 5px!important;
    text-decoration: none!important;
    margin-top: 10px!important;
}

.projects a:hover {
    background-color: #fffdf0!important;
    border: 2px solid transparent!important;
    color: #365f3c!important;
    transition: all 0.3s ease-in-out;
}

.project-1 {
    padding: 150px 0;
    position: relative;
    z-index: 1;
}

.project-1::before {
    position: absolute;
    top: 50px;
    left: -50px;
    background: url(../Images/Polygon_1.png);
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
    transform: rotate(-25deg);
    z-index: -1;
}

.project-2 {
    padding: 150px 0;
    position: relative;
    z-index: 1;
}

.project-2::before {
    position: absolute;
    top: -100px;
    left: -50px;
    background: url(../Images/Rectangle_1.png);
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
    transform: rotate(25deg);
    z-index: -1;
}

.project-3 {
    padding: 150px 0;
    position: relative;
    z-index: 1;
}

.project-3::before {
    position: absolute;
    top: -100px;
    left: -50px;
    background: url(../Images/Ellipse_1.png);
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
    transform: rotate(25deg);
    z-index: -1;
}

.prjct-img {
    overflow: hidden;
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

.prjct-img img {
    width: 600px;
}

.prjct-1 .prjct-img img {
    transform: translateY(0);
    transition: all 5s ease-in-out;
}

.prjct-1 .prjct-img:hover img {
    transform: translateY(-1575px);
}

.prjct-2 .prjct-img img {
    transform: translateY(0);
    transition: all 5s ease-in-out;
}

.prjct-2 .prjct-img:hover img {
    transform: translateY(-1420px);
}

.prjct-3 .prjct-img img {
    transform: translateY(0);
    transition: all 5s ease-in-out;
}

.prjct-3 .prjct-img:hover img {
    transform: translateY(-1488px);
}

/* Projects End */

/* Expertise */

.expertise {
    padding: 100px 0;
    background-color: #fffdf0;
}

.expertise h2 {
    color: #365f3c;
    margin-bottom: 55px;
}

.expertise h2 span::before {
    border-bottom: 5px solid #365f3c;
}

.expertise label {
    margin: 20px 0;
    font-weight: 500;
    font-size: 18px;
}

progress[value] {
    appearance: none;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: #fffdf0;
    border: 1px solid #365f3c;
    border-radius: 5px;
    color: #365f3c;
}

progress::-webkit-progress-value {
    background: #365f3c;
}

.skills-list ul {
    padding: 0;
}

.skills-list ul li {
    list-style: none;
    margin-bottom: 35px;
    padding: 20px;
    width: 90%;
    background-color: #365f3c;
    color: #fffdf0;
    font-size: 22px;
    position: relative;
    padding-left: 100px;
    border-radius: 10px;
}

.skills-list ul li:first-child {
    margin-top: 35px;
}

.skills-list ul li img {
    filter: invert(1);
    position: absolute;
    top: 15px;
    left: 40px;
}

.prog_first label {
    margin-top: 0;
}

/* Expertise End*/

/* Experience */

.experience {
    background-color: #365f3c;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.experience .head p {
    color: #fffdf0;
    margin-top: 35px;
    width: 80%;
}

.experience a {
    font-size: 14px!important;
    padding: 12px 35px!important;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #fffdf0!important;
    color: #fffdf0!important;
    font-weight: 500!important;
    border-radius: 0!important;
    background-color: transparent !important;
    border-radius: 5px!important;
    margin-top: 25px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.experience a:hover {
    background-color: #fffdf0!important;
    color: #365f3c !important;
}

ul.exp-1 {
    padding: 0;
}

ul.exp-1 li {
    list-style: none;
    margin-bottom: 85px;
    color: #fffdf0;
    font-size: 20px;
    position: relative;
    padding-left: 85px;
}

ul.exp-1 li:last-child {
    margin-bottom: 0;
}

ul.exp-1 li img {
    position: absolute;
    top: 0;
    left: 0;
}

.experience::before {
    position: absolute;
    top: 40%;
    left: -3%;
    content: "";
    background: url(../Images/Polygon_1.png);
    background-size: 20%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right center;
    transform: rotate(-20deg);
}

/* Experience End */

/* Contact */

section.contact {
    padding: 100px 0;
    background-color: #fffdf0;
}

ul.contact_list {
    padding: 0;
}

ul.contact_list li {
    list-style: none;
    margin-bottom: 85px;
    position: relative;
    padding: 18px 0 0 100px;
    font-size: 22px;
}

ul.contact_list li a {
    color: #365f3c;
    text-decoration: none;
}

ul.contact_list li i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    padding: 30px;
    background-color: #365f3c;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fffdf0;
}

ul.contact_list li::before {
    position: absolute;
    top: 40px;
    left: 30px;
    border: 1px dashed #365f3c;
    content: "";
    height: 150px;
}

ul.contact_list li:last-child::before{
    display: none;
}

/* Contact End */

/* footer */

footer{
    background-color: #365f3c;
}

footer p {
    color: #fffdf0;
}

/* Footer End */